body {
    width: 70%;
    margin: auto;
    font: 1em sans-serif;
}

.controlbar {
    visibility: hidden;
}

table tbody td {
    border-bottom: thin solid #d1d1d1;
}
table tbody tr:nth-child(1) td {
    border-top: thin solid #d1d1d1;
}
table tbody td:nth-child(1) {
    border-left: thin solid #d1d1d1;
}

table td {
    border-right: thin solid #d1d1d1;
}

.queries-block {
    padding: 1em 0;
}

footer {
    p {
        font-weight: bold;
    }
    text-align: center;
    margin-top: 50px;
}
